    .movie-card {
    width: 172px;
    display: inline-block;
    margin-right: 20px;
    }
    .scroll-container {
        overflow-x: auto; 
        white-space: nowrap; 
        background: rgba(0, 0, 0, 0.8);
        padding: 20px;
        scrollbar-width: none;

    }
    .reason-card .fa-tv,.fa-bullhorn,.fa-user {
        position: absolute;
        bottom: 10px; 
        right: 10px; 
        color: white;
        font-size: 24px;
    }
    .bg-custom {
        background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/04bef84d-51f6-401e-9b8e-4a521cbce3c5/null/PK-en-20240903-TRIFECTA-perspective_f209a29a-799d-4c4c-9190-b2a410cbfa06_large.jpg'); 
        background-size: cover;
        background-position: center;
        height: 100vh;
        width:100%;
        position:relative;
    }
    .gradient-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5); 
        z-index: 1; 
    }
    body {
        background-color: #141414; 
        color: white;
    }
    .reason-card, .faq-item, .footer-background {
        background: rgba(0, 0, 0, 0.8); 
    }
    .reason-card {
        background: rgba(58, 15, 15, 0.8);
        border-radius: 10px;
        padding: 15px; 
        text-align: center;
        width: 240px; 
        height: auto;
        margin: 10px; 
        cursor: pointer;
        position: relative;
        transition: all 0.3s ease;
    }
    .reason-card p {
        margin: 0; 
    }
    
    @media (min-width: 846px) and (max-width: 1120px) {
        .reason-card {
            width:auto;
            max-width: 350px; 
            margin: 10px; 
            display: flex;
            justify-content: center;
            flex-wrap:wrap
        }
    }

    @media (max-width:591px) {
        .reason-card {
            width: auto; 
            max-width: calc(100% - 10px);
            margin: 5px 5px; 
        }
    }
    .flex {
        display: flex;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .justify-center {
        justify-content: center;
    }

    h3 {
        margin-bottom: 1rem;
    }
    .scroll-button {
        margin: 0;
        top: 25%;
        left: 25%;
        transform: translate(-25%, -25%);
        width:20px;
    }
    .reason-background { 
        padding: 40px 0; 
    }
    .faq-background {
        background: rgba(0, 0, 0, 0.8); 
        padding: 20px;
        margin-top: 20px;
    }
    .faq-item {
        background: rgba(255, 255, 255, 0.1); 
        border-radius: 5px;
        padding: 15px;
        margin: 10px 0;
        cursor: pointer;
        transition: background 0.3s ease;
    }
    .faq-item:hover {
        background: rgba(255, 255, 255, 0.2); 
    }
    .footer-background {
        background: rgba(0, 0, 0, 0.8);
        padding: 20px;
    }
    

    .footer-link {
        color: #ffffff;
        margin: 0 0px;
        text-decoration: underline;
        transition: color 0.3s ease;
    }
    .footer-link:hover {
        color: #e50914;
    }

    .language-selection {
        margin-top: 10px;
    }
    .reason-card .fa-download {
        font-size: 24px; 
        color: white;
        position: absolute;
        bottom: 10px;
        right: 10px; 
        background-color: rgba(255, 255, 255, 0.2); 
        border-radius: 50%;
        padding: 5px; 
    }